<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.daverix.urlforward">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".UrlForwarderApplication"
        tools:targetApi="lollipop">

        <activity android:name=".LinkDialogActivity"
                android:theme="@style/Theme.MaterialComponents.DayNight.Dialog"
                android:label="@string/choose_filter"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity android:name=".FiltersActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
